<%= render 'search_block' %>

<div id = "banner_block">
  <div class="row">
    <div class="span8 green_block">
      Featured images
    </div>
    <div class="span4 green_block">
      corresponding descriptions
    </div>
  </div>
</div>