<%= render 'search_block' %>

<div id = "banner_block">
  <div class="row">
    <div class="span8 grey_block">
      Featured images
    </div>
    <div class="span4 grey_block">
      corresponding descriptions
    </div>
  </div>
</div>