<div class="page-header">
  <%= link_to featured_hospitals_path, :class => 'btn' do %>
    <i class="icon-list-alt"></i>
    Back
  <% end %>
  <h1>New featured_hospital</h1>
</div>

<%= render 'form' %>
