/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/


.border{border: 1px solid #000000}
.green_block{
    background-color: #3EA76E;
    border-radius: 6px 6px 6px 6px;
}
.gb_padding{
	background-color: #3EA76E;
    border-radius: 6px 6px 6px 6px;
    padding: 10px;
}
.green_block a, .gb_padding a{
	color: #fff;
}
.green_block a.btn, .gb_padding a.btn{
	color: #333;
}
.gb_padding .form_last_field{
	margin-bottom: 0px !important;
}
dl.show_page dt{
	float : left;
	min-width : 125px;
}
dl.show_page dd{
	margin-left : 175px;
}
dl.show_page dd div.span2{
	margin-left : 0px;
}
dl.show_page dd:after {
	content:' ';
	white-space:pre;
}
.inline{
	display: inline-block;
}
.right{
	float: right;
}