#search_block{
   margin-bottom: 18px;
   padding-top: 18px;
}
#search_block .control-group{
    margin-left: 30px;
}
#search_block .controls{
   margin-left: 10px;
}
#search_block .span3{
    width: 320px;
}
#search_block input[type="text"]{
  width: 325px;
  height: 30px;
}
#search_block .btn{
    margin-left: 40px;
    height: 40px;
}
#banner_block .green_block{
	min-height:500px
}
#myCarousel{
  margin-bottom: 0px;
}
#hospital_descriptions{
  margin: 10px;
}
#hospital_descriptions h4{
  text-align: center;
}
#hospital_descriptions .hospital_description{
  font-size: 15px;
  display: none;
  text-align: justify;
}
#hospital_descriptions .active_description{
  display: block !important;
}
.typeahead{
  width: 337px;
}



/////// search result page //////
#result_block .span12{
    padding:5px 0;
}
#result_block .span4{
    width: 353px;
    padding: 5px;
}
#result_block .no_result{
    padding: 10px;
    width: 1129px !important;
}
#result_block .span12{
    width: 1150px;
}
#result_block{
    padding: 10px;
}

