#search_block{
    margin-bottom: 18px;
    padding: 30px 0;
    height: 30px;
}
#search_block .control-group:first{
    padding-left: 30px;
}
#search_block .controls{
    margin-left: 5px;
}
#search_block .span3{
    width: 315px;
}
#search_block input[type="text"]{
    width: 300px;
    margin-left: 0 10px;
}
#search_block .btn{
    margin-left: 30px;
}
#banner_block .grey_block{
	min-height:500px
}